.wrapper2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.StyleAdjustment {
  margin-bottom: 20px;
}
