.HeaderContainer {
  top: 0;
  height: 50px;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}
.buttonsContainer {
  a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    padding: 13px;
    padding-left: 50px;
    font-weight: 700;
  }
}
